<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>에코-포어캐스트_about | 에코포어캐스트</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]eco_forecast-N1 -->
  <header class="eco_forecast-N1" data-bid="cilta52cjF" id="">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="index.html">
            <img src="../medias/eco-logo.png" alt=""><img src="../medias/eco-name.png" alt="">
          </a>
        </h1>
      </div>
      
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="login.html">로그인</a>
          </li>
          <li>
            <a href="membership.html">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="index.html">
              <span>메인화면</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="eco_about.html">
              <span>사이트 소개</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="">
              <span>정보광장</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="qna.html">
                  <span>자주묻는질문</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
          </li>
          <li class="header-gnbitem">
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="">
              <span>관련기관</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                  <span>에코마일리지</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="https://seouledc.or.kr" target="_blank">
                  <span>서울에너지드림센터</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <a href="javascript:void(0);" class="btn-profile header-utils-btn">
            <img src="../resources/icons/ico_profile_black.svg" alt="검색">
          </a>
          <button class="btn-search header-utils-btn">
            <img src="../resources/icons/ico_search_black.svg" alt="검색">
          </button>
          <button class="btn-allmenu header-utils-btn">
            <img src="../resources/icons/ico_menu_black.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="../resources/icons/ico_menu_black.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="../resources/icons/ico_close_m_black.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="index.html">
              <img src="../medias/eco-name.png" alt="">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="login.html">로그인</a>
            </li>
            <li>
              <a href="membership.html">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="index.html">
              <span>에코-포어캐스트</span>
            </a>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="eco_about.html">
              <span>사이트 소개</span>
            </a>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="">
              <span>정보광장</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="qna.html">
                  <span>자주묻는질문</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="">
              <span>관련기관</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                  <span>서울시-에코마일리지</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="https://seouledc.or.kr" target="_blank">
                  <span>서울에너지드림센터</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../resources/icons/ico_close_m_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]eco_forecast-N1 -->
  <main class="th-layout-main ">
    <!-- [S]eco_forecast-N8 -->
    <div class="eco_forecast-N8" data-bid="JUlTA52cnC" id="">
      <div class="contents-container">
        <img class="contents-visual img-pc" src="../resources/images/img_subvisual_1.png" alt="서브 비주얼 PC 이미지">
        <img class="contents-visual img-mobile" src="../resources/images/img_subvisual_mobile_1.png" alt="서브 비주얼 모바일 이미지">
        <div class="contents-body container-md">
          <div class="textset textset-visual">
            <h2 class="textset-tit">Eco-Forecast</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]eco_forecast-N8 -->
    <!-- [S]eco_forecast-N9 -->
    <div class="eco_forecast-N9" data-bid="GvLta52CPA">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset textset-sub">
            <h2 class="textset-tit"> Eco-Forecast는 환경 보호와 <br> 지속 가능한 미래를 위한 <br> 혁신적인 플랫폼입니다. </h2>
          </div>
          <div class="cardset">
            <figure class="cardset-figure">
              <img class="cardset-img" src="../resources/images/img_campland_N9_1.png" alt="PC 카드 이미지">
            </figure>
            <div class="cardset-body">
              <h2 class="cardset-tit"> 정말로 변화를 이루고 싶다면, <br>
                <span class="contents-primary">그것을 실천으로 </span> 옮겨야 합니다.
              </h2>
              <p class="cardset-desc"> 우리의 일상 생활에서 사용하는 에너지는 지구의 자원 소모 및 환경 오염에 <br class="br-pc"> 직간접적인 영향을 미치는 중요한 요소입니다. 
                <br class="br-pc"> Eco-Forecast는 2012년 부터 2022년에 대한 데이터를 기반으로 사용자들에게 전기, 수도, <br class="br-pc"> 도시가스, 그리고 탄소 배출량과 같은 에너지 사용에 관한 예측을 제공합니다. 
                <br><br class="br-pc"> 이를 통해 우리는 각자의 일상 속에서 작은 변화를 통해 지구 환경을 보호하고 <br class="br-pc"> 보다 지속 가능한 사회를 구축하는데 기여할 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]eco_forecast-N9 -->
  </main>
  <!-- [S]eco_forecast-N2 -->
  <footer class="eco_forecast-N2" data-bid="giltA4Bfyy">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../medias/eco-name.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>ⓒEco-Forecast Corp.</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_white.png" alt="로고">
          </a>
        </h2>
        <div class="footer-txt">
          <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2024 BY Eco-Forecast. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]eco_forecast-N2 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>