<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>메인 페이지 | 에코포어캐스트</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
  <link rel="stylesheet" href="../resources/css/index_button.css">
</head>

<body>
  <!-- [S]eco_forecast-N1 -->
  <header class="eco_forecast-N1" data-bid="DOlTa4bF4A" id="">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="index.html">
            <img src="../medias/eco-logo.png" alt=""><img src="../medias/eco-name.png" alt="">
          </a>
        </h1>
      </div>
      
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="index.html">
              <span>메인화면</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="eco_about.html">
              <span>사이트 소개</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="">
              <span>정보광장</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="qna.html">
                  <span>자주묻는질문</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
          </li>
          <li class="header-gnbitem">
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="">
              <span>관련기관</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                  <span>에코마일리지</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="https://seouledc.or.kr" target="_blank">
                  <span>서울에너지드림센터</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <a href="mypage.html" class="btn-profile header-utils-btn">
            <img src="../resources/icons/ico_profile_black.svg" alt="검색">
          </a>
          <button class="btn-search header-utils-btn">
            <img src="../resources/icons/ico_search_black.svg" alt="검색">
          </button>
          <button class="btn-allmenu header-utils-btn">
            <img src="../resources/icons/ico_menu_black.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="../resources/icons/ico_menu_black.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="../resources/icons/ico_close_m_black.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="index.html">
              <img src="../medias/eco-name.png" alt="">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="login.html">로그인</a>
            </li>
            <li>
              <a href="membership.html">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="index.html">
              <span>에코-포어캐스트</span>
            </a>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="eco_about.html">
              <span>사이트 소개</span>
            </a>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="">
              <span>정보광장</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="qna.html">
                  <span>자주묻는질문</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="">
              <span>관련기관</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                  <span>서울시-에코마일리지</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="https://seouledc.or.kr" target="_blank">
                  <span>서울에너지드림센터</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../resources/icons/ico_close_m_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]eco_forecast-N1 -->
  <main class="th-layout-main ">
    <!-- [S]eco_forecast-N3 -->
    <div class="eco_forecast-N3" data-bid="hylTa4BFAR" id="">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/img_mainvisual_1.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/img_mainvisual_mobile_1.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">Eco</span>
                    <br>Forecast
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">지금 시작하기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/img_mainvisual_1.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/img_mainvisual_mobile_1.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">Eco</span>
                    <br>Forecast
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">지금 시작하기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/img_mainvisual_1.png" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/img_mainvisual_mobile_1.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">
                    <span class="text-deco">Eco</span>
                    <br>Forecast
                  </h2>
                </div>
                <a class="btnset btnset-round btnset-line" href="javascript:void(0)">지금 시작하기</a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="../resources/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play">
              <img src="../resources/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- [E]eco_forecast-N3 -->
    <!-- [S]eco_forecast-N4 -->
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="cardset cardset-hor row-rever col-rever-m cardset-lg">
          <figure class="cardset-figure img-pc"><br><br><br><br><br><br>
            <img class="cardset-img" src="../medias/eco-logo.png" alt="PC 카드 이미지">
          </figure>
          <figure class="cardset-figure img-mobile">
            <img class="cardset-img" src="../medias/eco-logo.png" alt="모바일 카드 이미지" style="width: 25%; display: block; margin: 0 auto;">
          </figure>
          <div class="cardset-body" style="width: 50%;"><br><br>
            <h1 class="cardset-tit" style="font-size: 25px;">현재 날짜: 2024년 3월</h1><br>
            <h2 class="cardset-tit">​서울시-에코마일리지<br>에너지 사용량<br>예측 서비스</h2><br>
            <p class="cardset-desc">사용자가 예측하고자 하는 <br> 특정 년도와 월을 선택하여, <br> 에너지​ 사용량을 ​예측하는 서비스입니다.​<br><br>년도, 월, 지역(구)을 입력하시면​ 전기, 수도,​<br>가스, ​탄소 사용량을 예측 할 수 있습니다.<br>​<br><br></p>
          </div>
    
    
      <!-- 여러 개의 폼 랩 -->
      
      <div class="form-wrap" style="padding-left: 170px; text-align: center; display: flex; flex-direction: column;">
        <form id="ecoForm" action="/forecast_eco/" method="post">
       
        <div class="form-line">
          <h5 class="form-tit form-tit-deco">
            <span></span>예측년도 입력
          </h5>
          <div class="inputset inputset-round">
            <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="Ex. 2025" style="width: 50%" name="year;" required >
          </div>
        </div>
      
        <div class="form-line">
          <h5 class="form-tit form-tit-deco">
            <span></span>예측 월 입력
          </h5>
          <div class="inputset inputset-round">
            <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="Ex. 3" style="width: 50%" name="month;" required>
          </div>
        </div>
      
        <div class="form-line">
          <h5 class="form-tit form-tit-deco">
            <span></span>지역구 입력
          </h5>
          <div class="inputset inputset-round">
            <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="Ex. 송파구" style="width: 50%" name="district;" required>
          </div>
        </div>
      
        <div class="form-line">
          <h5 class="form-tit form-tit-deco">
            <span></span>동 입력
          </h5>
          <div class="inputset inputset-round">
            <input type="text" class="inputset-input form-control" aria-label="내용" placeholder="Ex. 잠실2동" style="width: 50%" name="town;" required>
          </div>
        </div>
        
        <div class="form-line">
          <h5 class="form-tit form-tit-deco" style="padding-left: 0px;">
            <div class="pc-buttons" ><br>
              <!-- 제출 버튼 및 삭제 버튼 -->
              <div class="index_forecast_buttonlist">
                <button>예측 하기</button>&nbsp;
                <button class="reverse dark" id="resetBtn" style="background-color:darkcyan">모두 지우기</button>
              </div>
            </div> 
          </h5>
               
        </div>
        
        <style>
          @media only screen and (max-width: 767px) {
            .pc-buttons {
              display: none;
            }
          }
        </style>

      </div>


      <script>
        // 이벤트 핸들러 등록 확인
        document.getElementById("resetBtn").addEventListener("click", function() {
          console.log("리셋 버튼 클릭됨");
          document.getElementById("ecoForm").reset(); // 폼 초기화
        });
      </script>
      </form>
    
    </div>
    
    
      <div class="eco_forecast-N5" data-bid="FhLTa4BFpO">
        <div class="contents-inner">
          <h1 class="cardset-tit" style="position: relative; font-size: 23px; text-align: center; bottom: 60px;">2025년 2월</h1>
          <h1 class="cardset-tit" style="position: relative; font-size: 23px; text-align: center; bottom: 50px;">서울시 송파구 잠실2동 에너지 사용 예측량입니다.</h1>
          <div class="contents-container container-md">
            <div class="cardset-wrap">
              <div class="cardset cardset-center">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="../resources/images/electric-logo.png" alt="전기-로고 사진">
                </figure>
                <div class="cardset-body">
                  <h2 class="cardset-tit">전기 사용량 예측<br><br>
                  <a class="btnset btnset-round btnset-line">17,612,123 kgco2</a>
                  </h2>
    
                </div>
              </div>
              <div class="cardset cardset-center">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="../resources/images/water-logo.png" alt="수도-로고 사진">
                </figure>
                <div class="cardset-body">
                  <h2 class="cardset-tit">수도 사용량 예측<br><br>
                  <a class="btnset btnset-round btnset-line">17,612,123 kgco2</a>
                  </h2>
    
                </div>
              </div>
              <div class="cardset cardset-center">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="../resources/images/gas-logo.png" alt="가스-로고 사진">
                </figure>
                <div class="cardset-body">
                  <h2 class="cardset-tit">가스 사용량 예측<br><br>
                  <a class="btnset btnset-round btnset-line">17,612,123 kgco2</a>
                  </h2>
              
                </div>
              </div>
              <div class="cardset cardset-center">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="../resources/images/co2-logo.png" alt="탄소-로고 사진">
                </figure>
                <div class="cardset-body">
                  <h2 class="cardset-tit">탄소 사용량 예측<br><br>
                  <a class="btnset btnset-round btnset-line">17,612,123 kgco2</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    




    
    <!-- [E]eco_forecast-N4 -->
    <!-- [S]eco_forecast-N5 -->
    <br><br>
    <div class="eco_forecast-N5" data-bid="FhLTa4BFpO">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/tumbler-logo.png" alt="텀블러 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">텀블러 사용하기</h2>
                <p class="cardset-desc"> 텀블러 사용은 일회용 플라스틱 사용을 줄이고 <br> 환경 보호에 기여하는 소중한 습관입니다. </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/ecobag-logo.png" alt="에코백 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">에코백 사용하기</h2>
                <p class="cardset-desc"> 에코백은 재사용이 가능하고 <br> 환경에 미치는 부담을 줄여줄 수 있습니다. </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/recycling-logo.png" alt="재활용 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">재활용 하기</h2>
                <p class="cardset-desc"> 플라스틱, 종이, 비닐 등을 올바르게 분리수거하여 <br> 지구 환경을 지키는데 동참해주세요. </p>
              </div>
            </div>
            <div class="cardset cardset-center">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/energy-logo.png" alt="에너지 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">낭비전력 줄이기</h2>
                <p class="cardset-desc"> 전등, 콘센트 등 불필요한 전기 소모를 줄이고 <br> 에너지 사용량을 효율적으로 관리해보세요. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]eco_forecast-N5 -->
    <!-- [S]eco_forecast-N6 -->
    <div class="eco_forecast-N6" data-bid="IILtA4bFS3">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="imageset img-pc">
            <img class="imageset-img2" src="../resources/images/information-logo.png" alt="information-logo 이미지">
          </div>
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="contents-backimg img-pc" src="../resources/images/img_campland_N6_1.png" alt="PC 이미지">
                <img class="contents-backimg img-mobile" src="../resources/images/img_campland_mobile_N6_1.png" alt="모바일 이미지">
                <div class="contents-slide-group container-md">
                  <div class="textset">
                    <h2 class="textset-tit"> Eco-Forecast <br> 사이트 소개 </h2>
                    <p class="textset-desc"> Eco-Forecast에서 소개하는 <br> 여러 정보들을 확인하세요. </p>
                  </div>
                  <a class="btnset btnset-round btnset-line btnset-white" href="eco_about.html">사이트 소개 바로가기</a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]eco_forecast-N6 -->
    <!-- [S]eco_forecast-N7 -->
    <div class="eco_forecast-N7" data-bid="Lvlta4bfvv">
      <div class="contents-container">
        <!-- * 카카오맵 - 지도퍼가기 -->
        <!-- 1. 지도 노드 -->
        <div id="daumRoughmapContainer1690352447500" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <!--
      2. 설치 스크립트
      * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
    -->
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <!-- 3. 실행 스크립트 -->
        <script charset="UTF-8">
          new daum.roughmap.Lander({
            "timestamp": "1690352447500",
            "key": "2fnib",
          }).render();
        </script>
      </div>
    </div>
    <!-- [E]eco_forecast-N7 -->
  </main>
  <!-- [S]eco_forecast-N2 -->
  <footer class="eco_forecast-N2" data-bid="giltA4Bfyy">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../medias/eco-name.png" alt="로고">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>ⓒEco-Forecast Corp.</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_white.png" alt="로고">
          </a>
        </h2>
        <div class="footer-txt">
          <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
          <p>
            <span>T. 070-8872-8874</span>
            <span>E. help@openfield.co.kr</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2024 BY Eco-Forecast. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]eco_forecast-N2 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
  <script src="../resources/js/index_button.js"></script>
</body>