{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Summary</title>
</head>
<body>
    <h1>STT AI 요약 결과입니다.</h1>
    <h2>STT 파일 제목: {{ audio_file.file_title }}</h2>
    <h2>STT 파일 이름: {{ audio_file.file_name.name }}</h2>
    {% if summary %}
        <p>{{ summary }}</p>
    {% else %}
        <p>요약을 생성할 수 없습니다. 오류가 발생하였거나 인식된 텍스트가 없습니다.</p>
    {% endif %}
</body>
</html>

<!-- {% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Summary</title>
</head>
<body>
    <h1>Summary result: {{ audio_file.title }}</h1>
    <p>{{ summary }}</p>
</body>
</html> -->