{% extends 'common/base.html' %}
{% load static %}
{% block title %}공지사항_상세 | 스터디파트너{% endblock %}
{% block content %}
<!-- [E]eco_forecast-N1 -->

  <!-- [S]eco_forecast-N8 -->
  <div class="eco_forecast-N8" data-bid="JUlTA52cnC" id="">
    <div class="contents-container">
      <img class="contents-visual img-pc" src="{% static 'images/img_subvisual_1.png' %}" alt="서브 비주얼 PC 이미지">
      <img class="contents-visual img-mobile" src="{% static 'images/img_subvisual_mobile_1.png' %}" alt="서브 비주얼 모바일 이미지">
      <div class="contents-body container-md">
        <div class="textset textset-visual">
          <h2 class="textset-tit">스터디파트너</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]eco_forecast-N8 -->
  <!-- [S]eco_forecast-N13 -->
  <div class="contents-inner">
    <div class="contents-container container-md">
      <div class="textset textset-sub"><br><br><br>
        <h2 class="textset-tit">고객여러분께 알려드립니다.</h2>
        <p class="textset-desc">홈페이지 담당자 <span>2024.03.03</span>
        </p>
      </div>
      <div class="contents-body;">
        <p class="contents-text" style="border-top: 1.5px solid #FFBD98; border-bottom: 1px solid lightgray;"><br><br>
          안녕하세요.
          <br>
          스터디파트너 홈페이지 담당자입니다.
          <br>
          <br>
          스터디파트너 홈페이지가 오픈하였습니다.
          <br>
          많은 사랑 부탁드립니다.
          <br>
          <br>
          더 궁금하신 사항은 아래 전화번호 메일을 통해 연락주시길 바랍니다.
          <br>
          감사합니다.
          <br>
          <br>
          문의사항 : 070-1234-5678 / help@Study-partner.co.kr
          <br><br><br>
        </p>
      </div>
      <div class="contents-link" style="text-align: center;" ><br><br><br>
        <a href="notice.html" class="btnset btnset-round btnset-line btnset-black">목록으로</a>
      </div>
    </div>
  </div><br><br><br>
  <!-- [E]eco_forecast-N13 -->
