{% extends 'common/base.html' %}
{% load static %}
{% block title %}공지사항 | 스터디파트너{% endblock %}
{% block content %}

<!-- [E]eco_forecast-N1 -->

<!-- [S]eco_forecast-N8 -->
<div class="eco_forecast-N8" data-bid="JUlTA52cnC" id="">
  <div class="contents-container">
    <img class="contents-visual img-pc" src="{% static 'images/img_subvisual_1.png' %}" alt="서브 비주얼 PC 이미지">
    <img class="contents-visual img-mobile" src="{% static 'images/img_subvisual_mobile_1.png' %}" alt="서브 비주얼 모바일 이미지">
    <div class="contents-body container-md">
      <div class="textset textset-visual">
        <h2 class="textset-tit">Eco-Forecast</h2>
      </div>
    </div>
  </div>
</div>
<!-- [E]eco_forecast-N8 -->
<!-- [S]eco_forecast-N12 -->
<div class="eco_forecast-N12" data-bid="LrLTBmfWFX"><br><br><br>
  <div class="contents-inner">
    <div class="contents-container container-md">
      <div class="textset textset-sub">
        <h2 class="textset-tit">공지사항</h2>
      </div>
      <div class="tableset tableset-fract">
        <table class="tableset-table table">
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <thead class="thead-light thead-border-top primary">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">제목</th>
              <th scope="col">등록일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tableset-mobile">5</td>
              <td class="text-left tableset tableset-tit-ellipsis tableset-tit">
                <a href="notice_detail.html">
                  <span>스터디파트너 사이트 오픈안내</span>
                </a>
              </td>
              <td>2024.03.01</td>
            </tr>
            <tr>
              <td class="tableset-mobile">4</td>
              <td class="text-left tableset-tit">
                <a href="javascript:void(0)">
                  <span>공지사항 1</span>
                </a>
              </td>
              <td>2024.03.01</td>
            </tr>
            <tr>
              <td class="tableset-mobile">3</td>
              <td class="text-left tableset-tit">
                <a href="javascript:void(0)">
                  <span>공지사항 2</span>
                </a>
              </td>
              <td>2024.03.01</td>
            </tr>
            <tr>
              <td class="tableset-mobile">2</td>
              <td class="text-left tableset-tit">
                <a href="javascript:void(0)">
                  <span>공지사항 3</span>
                </a>
              </td>
              <td>2024.03.01</td>
            </tr>
            <tr>
              <td class="tableset-mobile">1</td>
              <td class="text-left tableset-tit">
                <a href="javascript:void(0)">
                  <span>공지사항 4</span>
                </a>
              </td>
              <td>2024.03.01</td>
            </tr>
          </tbody>
        </table>
      </div><br><br>
      <nav class="pagiset pagiset-circ pagiset-border">
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-first" href="javascript:void(0)">
            <span class="visually-hidden">처음</span>
          </a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
            <span class="visually-hidden">이전</span>
          </a>
        </div>
        <div class="pagiset-list">
          <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
          <a class="pagiset-link" href="javascript:void(0)">2</a>
          <a class="pagiset-link" href="javascript:void(0)">3</a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-next" href="javascript:void(0)">
            <span class="visually-hidden">다음</span>
          </a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-last" href="javascript:void(0)">
            <span class="visually-hidden">마지막</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div><br><br>
<!-- [E]eco_forecast-N12 -->


{% endblock %}