{% load static %}
{% block content %}
<!-- chapter_detail.html -->

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>
<body>
    <h1>{{ chapter.lecture.title }} 챕터 상세 정보</h1>
    <p>강의명: {{ chapter.lecture.title }} </p>
    <p>챕터명: {{ chapter.chapter_name }} </p> -->
    <!-- 현재 로그인한 사용자 출력 -->
    <!-- <p>현재 로그인한 사용자: {{ user.username }}</p> -->
    <!-- 챕터에 대한 추가 정보를 출력할 수 있음 -->
<!-- </body>
</html> -->


<!-- chapter_detail.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/lecture.css' %}">
    <link rel="stylesheet" href="{% static 'css/lecture_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"> -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>

    <!-- 강의실 사이드 네비게이터 & 타이머 포함할 부분 -->
    {% include "user/lecture_sidebar.html" %}

    <!-- 사용자의 챕터 상세정보 -->
    <div class="custom-body">
        <div class="lecture-box">
            <h2>        
                <span>Study Partner</span>
                <a href="{% url 'user:lecture' %}">
                    <ion-icon name="arrow-back-outline" class="lecture_urllink2 nav__toggle2 study-partner-backion" id="back-toggle"></ion-icon>
                </a>
            </h2>

            <div class="user-box">
                <p style="color:white">사용자: {{ user.username }} </p>
            </div>
            <div class="user-box">
                <p style="color:white">강의명: {{ chapter.lecture.title }} </p>
            </div>
            <div class="user-box">
                <p style="color:white">챕터명: {{ chapter.chapter_name }} </p>
            </div><br>
            <div class="index_studypartner_hreflist" style="text-align: center;">     
                <a style="margin-left: 10px; background-color: #ebacb1;" class="lecture_urllink" href="{% url 'summary:summary_detail' lecture_name=chapter.lecture.title chapter_name=chapter.chapter_name %}">
                    음성파일 업로드
                </a>&nbsp;&nbsp;
                <a style="background-color: #FFA500;" class="lecture_urllink" href="{% url 'user:handwriting' lecture_name=chapter.lecture.title chapter_name=chapter.chapter_name %}">
                    손글씨 제작
                </a>&nbsp;&nbsp;
                <a style="background-color: #2C952C" class="lecture_urllink" href="#">
                    QUIZ
                </a>
            </div> 
        </div>
    </div>
    <!-- 사용자의 챕터 상세정보 끝부분-->

    <!-- 친구 시스템 포함할 부분 -->
    <div class="lecture-box2">
        {% include "user/friend.html" %}
    </div>
    <!-- 친구 시스템 포함할 끝 부분-->

</body>
</html>

{% endblock %}