<!-- chapter_detail.html -->

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>
<body>
    <h1>{{ chapter.lecture.title }} 챕터 상세 정보</h1>
    <p>강의명: {{ chapter.lecture.title }} </p>
    <p>챕터명: {{ chapter.chapter_name }} </p> -->
    <!-- 현재 로그인한 사용자 출력 -->
    <!-- <p>현재 로그인한 사용자: {{ user.username }}</p> -->
    <!-- 챕터에 대한 추가 정보를 출력할 수 있음 -->
<!-- </body>
</html> -->


<!-- chapter_detail.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>
<body>
    <h1>{{ chapter.lecture.title }} 챕터 상세 정보</h1>
    <p>강의명: {{ chapter.lecture.title }} </p>
    <p>챕터명: {{ chapter.chapter_name }} </p>
    <!-- 현재 로그인한 사용자 출력 -->
    <p>현재 로그인한 사용자: {{ user.username }}</p>
    
    <!-- 업로드된 파일 목록 -->
    <h2>업로드된 파일 목록</h2>
    <ul>
        {% for file in uploaded_files %}
            <li><a href="{{ file.file_name.url }}">{{ file.file_title }}</a></li>
        {% endfor %}
    </ul>

    <!-- 파일 업로드 폼 -->
    <h2>파일 업로드</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">파일 업로드</button>
    </form>
</body>
</html>
