{% load static %}
{% block content %}
<!-- chapter_detail.html -->

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>
<body>
    <h1>{{ chapter.lecture.title }} 챕터 상세 정보</h1>
    <p>강의명: {{ chapter.lecture.title }} </p>
    <p>챕터명: {{ chapter.chapter_name }} </p> -->
    <!-- 현재 로그인한 사용자 출력 -->
    <!-- <p>현재 로그인한 사용자: {{ user.username }}</p> -->
    <!-- 챕터에 대한 추가 정보를 출력할 수 있음 -->
<!-- </body>
</html> -->


<!-- chapter_detail.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/lecture.css' %}">
    <link rel="stylesheet" href="{% static 'css/lecture_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


    <title>{{ chapter.lecture.title }} 챕터 상세 정보</title>
</head>
<body id="body-pd">
    
    <a href="{% url 'user:lecture' %}">
        <img src="{% static 'images/study_logo.png' %}" alt="스터디파트너 로고사진" style="width: 75px">
    </a>

    <!-- 사이드 네비게이션 바 -->
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    {% if request.user.is_authenticated %}
                        <a href="#" class="nav__logo">
                            <span>{{ request.user.username }} 님</span>
                        </a>
                    {% else %}
                        <a href="{% url 'user:login' %}" class="nav__logo">
                            <span>로그인 후 이용하세요.</span>
                        </a>
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                    <div class="nav__list">
                        <a href="{% url 'index' %}" class="nav__link active">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">메인화면</span>
                        </a>

                        {% for lecture in lectures %}
                            <div class="nav__link collapse">
                                <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                                <span class="nav_name" id="my-courses">
                                    <a class="lecture_urllink" href="{% url 'user:lecture_detail' lecture_name=lecture.lecture %}">{{ lecture.lecture }}</a>
                                </span>
                                <div class="collapse__link">
                                    <ion-icon name="add" id="collapse-link"></ion-icon>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                </div>
                                <ul class="collapse__menu text_element" id="collapse-menu">
                                    {% for chapter in lecture.chapters %}
                                        <li class="collapse__sublink">
                                            <!-- <a class="lecture_urllink" href="{% url 'upload:chapter_detail' lecture_name=lecture.lecture chapter_name=chapter.chapter_name %}">
                                                {{ chapter.chapter_name }}
                                            </a> -->
                                            <a class="lecture_urllink" href="{% url 'upload:chapter_detail' lecture_name=lecture.lecture chapter_name=chapter.chapter_name %}">
                                                {{ chapter.chapter_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                        <a href="{% url 'user:logout' %}" class="nav__link">
                            <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">로그아웃</span>
                        </a>
                    </div>
                {% else %}
                    <div class="nav__list">
                        <a href="{% url 'index' %}" class="nav__link active">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">메인화면</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </div>
    <!-- 사이드 네비게이션 바 끝부분 -->

    <!-- 사용자의 챕터 상세정보 -->
    <div class="custom-body">
        <div class="lecture-box">
            <h2>        
                <span>Study Partner</span>
                <a href="{% url 'user:lecture' %}">
                    <ion-icon name="arrow-back-outline" class="lecture_urllink2 nav__toggle2 study-partner-backion" id="back-toggle"></ion-icon>
                </a>
            </h2>

            <div class="user-box">
                <p style="color:white">사용자: {{ user.username }} </p>
            </div>
            <div class="user-box">
                <p style="color:white">강의명: {{ chapter.lecture.title }} </p>
            </div>
            <div class="user-box">
                <p style="color:white">챕터명: {{ chapter.chapter_name }} </p>
            </div><br>
            <div class="index_studypartner_hreflist" style="text-align: center;">     
                <a style="margin-left: 42px; background-color: #ebacb1;" class="lecture_urllink" href="{% url 'summary:summary_detail' lecture_name=chapter.lecture.title chapter_name=chapter.chapter_name %}">
                    음성파일 업로드
                </a>&nbsp;&nbsp;
                <a style="background-color: #FFA500;" class="lecture_urllink" href="#">
                    AI 요약노트
                </a>&nbsp;&nbsp;
                <a style="background-color: #2C952C" class="lecture_urllink" href="#">
                    QUIZ
                </a>
            </div> 
        </div>
    </div>
    <!-- 사용자의 챕터 상세정보 끝부분-->

    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="{% static 'js/lecture.js' %}"></script>

    <script>
        const chapterUrl = "{% url 'chapter' %}";
    </script>    


</body>
</html>

{% endblock %}