{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lecture Chapter</title>
</head>
<body>
    {% if request.user.is_authenticated %}  <!-- 로그인 되었을 때 보이는 화면 -->
    <span>{{ request.user.username }}님</span>
    {% else %}  <!-- 로그아웃 되었을 때 보이는 화면 -->
    {% endif %} 
    <form method="post" action="{% url 'user:add_lecture_chapter' %}">
        {% csrf_token %}
        <li class="contents-item">
            <h6 class="form-tit form-tit-deco">
                <span>강의 입력</span>
            </h6>
            <div class="form-wrap">
                <div class="inputset inputset-round">
                    <input name="lecture_name" type="text" class="inputset-input form-control" aria-label="내용" placeholder="강의" required>
                </div>
            </div>
        </li>
    
        <li class="contents-item">
            <h6 class="form-tit form-tit-deco">
                <span>하위목록 입력</span>
            </h6>
            <div class="form-wrap">
                <div class="inputset inputset-round">
                    <input name="chapter_name" type="text" class="inputset-input form-control" aria-label="내용" placeholder="하위목록" required>
                </div>
            </div>
        </li>
        <br>
        <button type="submit">Add Chapter</button>
    </form>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

{% endblock %}
