{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 추가 페이지</title>
</head>

<style>
    /* CSS에서 input 요소를 선택하고 원하는 스타일을 적용 */
    input#friend_id {
        background-color: white; /* 배경색 */
        border: 0.7px solid black; /* 테두리 색 */
        border-radius: 3.5px; /* 테두리를 둥글게 설정 */
    }
</style>

<body class="bg-gray-100">
    <div class="max-w-sm bg-white p-3 rounded-lg shadow-md">
        <h3><b>친구 간 오늘의 가장높은 공부기록</b></h3>

        <!-- 친구 간 최고기록 순위 포함할 부분 -->
        <hr style="border-top: 0.5px solid #ccc; width: 100%; margin: 7px 0;"><br>

        {% if friends_records %}
            <ul>
                {% for friend_username, best_record in friends_records %}
                    <li>친구:<b> {{ friend_username }} </b>님,&nbsp; 오늘의 최고기록: <b>{{ best_record }}</b></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>친구들의 오늘 기록이 없습니다.</p>
        {% endif %}
        <!-- 친구 간 최고기록 순위 포함할 끝 부분 -->

    </div>


</body>
</html>
{% endblock %}
