<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture List</title>
</head>
<body>
    <h1>Lecture List</h1>
    <ul>
        {% for chapter in chapters %}
            <li>{{ chapter.lecture.title }} - {{ chapter.chapter_name }}</li>
        {% endfor %}
    </ul>
</body>
</html> -->








<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture List</title>
</head>
<body>
    <h1>Lecture List</h1>
    <ul>
        {% for lecture in lectures %}
            <li><a href="{% url 'user:lecture_detail' lecture_name=lecture.lecture %}">{{ lecture.lecture }}</a> <!-- 강의명 링크 -->
                <ul>
                    {% for chapter in lecture.chapters %}
                        <li><a href="{% url 'user:chapter_detail' lecture_name=lecture.lecture chapter_name=chapter.chapter_name %}">{{ chapter.chapter_name }}</a></li> <!-- 챕터명 링크 -->
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>






