{% extends 'common/base.html' %}
<!-- 로그인 페이지

<br>
{% if request.user.is_authenticated %}
    로그인 성공!<br>
    {{ request.user.username }}님 환영합니다.
    <a href="{% url 'user:logout' %}">로그아웃</a>
{% else %}
    <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        <input name="username" type="text">
        <input name="password" type="password">
        <input type="submit" value="로그인">
    </form>
    <a href="{% url 'user:signup' %}">회원가입</a>
{% endif %} -->

{% load static %}
{% block title %}로그인 | 스터디파트너{% endblock %}
{% block content %}
<!-- [E]study_partner-N1 -->

  <!-- [S]study_partner-N24 -->
  <div class="study_partner-N24" data-bid="dAlta550GS">
    <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
    <div class="contents-inner">
      <div class="contents-container">
        <div class="contents-top">
          <div class="textset textset-center">
            <h2 class="textset-tit">일반 로그인</h2>
          </div>
          <div class="inputset inputset-round">
            <input name="username" type="text" class="inputset-input form-control" aria-label="내용" placeholder="아이디를 입력해주세요." required>  <!-- 아이디 입력 -->
          </div>
          <div class="inputset inputset-round">
            <input name="password" type="password" class="inputset-input form-control" aria-label="내용" placeholder="비밀번호를 입력해주세요." required> <!-- 비밀번호 입력 -->
          </div>
          <div class="checkset">
            <input id="checkset-a-1-1" class="checkset-input input-fill input-round" type="checkbox" value="">
            <label class="checkset-label" for="checkset-a-1-1"></label>
            <span class="checkset-text">아이디 저장</span>
          </div>
          <input class="btnset btnset-round" type="submit" value="로그인">  <!-- 로그인 -->
          <ul class="contents-list">
            <li class="contents-item">
              <a href="">아이디 찾기</a>
            </li>
            <li class="contents-item">
              <a href="">비밀번호 찾기</a>
            </li>
            <li class="contents-item">
              <a href="{% url 'user:signup' %}">회원가입</a>  <!-- 회원가입 링크 -->
            </li>
          </ul>
        </div>
        <div class="contents-bottom">
          <div class="textset textset-center">
            <h2 class="textset-tit">간편 로그인</h2>
          </div>
          <a href="" class="btnset btnset-round contents-naver">
            <div class="iconset">
              <img class="iconset-icon" src="{% static 'icons/ico_naver_whie.svg' %}" alt="네이버 아이콘">
            </div> 네이버로 시작하기
          </a>
          <a href="" class="btnset btnset-round contents-kakao">
            <div class="iconset">
              <img class="iconset-icon" src="{% static 'icons/ico_kakao_color.svg' %}" alt="카카오톡 아이콘">
            </div> 카카오로 시작하기
          </a>
        </div><br><br><br>
      </div>
    </div>
    </form>
  </div>
  <!-- [E]study_partner-N24 -->

{% endblock %}