<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 추가 테스트 페이지</title>
</head>
<body>
    <h2>친구 추가 테스트 페이지</h2>
    <span>{{ request.user.username }} 님</span><br><br>
    <form method="POST" action="{% url 'user:send_friend_request' %}">
        {% csrf_token %}
        <label for="friend_id">친구의 아이디:</label>
        <input type="text" id="friend_id" name="friend_id" required>
        <button type="submit">친구 추가</button>
    </form>

<!-- 친구 요청 목록 템플릿 -->
<br>
<h3>친구 요청 목록</h3>
{% for friend_request in friend_requests %}
<p>{{ friend_request.from_user.username }}님으로부터 친구 요청이 도착했습니다.</p>
    
    <form method="POST" action="{% url 'user:accept_friend_request' friend_request.id %}">
    {% csrf_token %}
        <button type="submit">친구 요청 수락</button>
    </form>
    
{% endfor %}

<!-- 친구 목록 템플릿 -->
<br>
{% if friends %}
    <h3>친구 목록</h3>
    <ul>
        {% for friendship in friends %}
            <li>{{ friendship.friend.username }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>친구가 없습니다.</p>
{% endif %}
</body>
</html>