<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page 1</title>
</head>
<body>
    <h2>Test1.html 페이지입니다.</h2><br>
    <p>세션 키: {{ request.session.session_key }}</p>

    <a href="{% url 'user:test2' %}">Test2 페이지로 이동</a><br><br>
    {% if request.user.is_authenticated %}
        <span>{{ request.user.username }} 님</span><br><br>
        {% if request.session.session_username %}
            <span>세션에 저장된 유저 이름: {{ request.session.session_username }}</span><br><br>
        {% else %}
            <span>세션에 저장된 유저 이름이 없습니다.</span><br><br>
        {% endif %}
    {% else %}
        <span>로그인 되지 않았습니다.</span><br><br>
    {% endif %}

    <!-- Study_TimerSession 모델에서 가져온 데이터 표시 -->
    <h3>Study_TimerSession 데이터:</h3>
    <ul>
    {% for session in sessions reversed %}
        <li>날짜: {{ session.date }}, 목표시간: {{ session.goal_time }}, 지난시간: {{ session.elapsed_time }}, 목표까지 남은시간: {{ session.remaining_time }}, 목표달성률: {{ session.goalpercent }}, 기록: {{ session.records }}</li>
    {% endfor %}
    </ul>

    <!-- 가장 높은 기록 항목 출력 -->
    <h3>가장 높은 기록:</h3>
    {% if highest_record %}
        <p>날짜: {{ highest_record.date }}, 목표시간: {{ highest_record.goal_time }}, 지난시간: {{ highest_record.elapsed_time }}, 목표까지 남은시간: {{ highest_record.remaining_time }}, 목표달성률: {{ highest_record.goalpercent }}, 기록: {{ highest_record.records }}</p>
    {% else %}
        <p>가장 높은 기록이 없습니다.</p>
    {% endif %}
</body>
</html>
