{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png' %">
    <meta property="og:url" content="https://웹사이트">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <!-- [S]eco_forecast-N1 -->
    <header class="eco_forecast-N1" data-bid="DOlTa4bF4A" id="">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="{% url 'index' %}">
              <img src="{% static 'images/eco-logo.png' %}" alt=""><img src="{% static 'images/eco-name.png' %}" alt="">
            </a>
          </h1>
        </div>
    
        <div class="header-center">
          <ul class="header-member">
            <li>
              <a href="{% url 'login' %}">로그인</a>
            </li>
            <li>
              <a href="{% url 'signup' %}">회원가입</a>
            </li>
          </ul>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="{% url 'index' %}">
                <span>메인화면</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="{% url 'about' %}">
                <span>사이트 소개</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="">
                <span>정보광장</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="{% url 'notice' %}">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="{% url 'qna' %}">
                    <span>자주묻는질문</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="header-gnbitem">
            </li>
            <li class="header-gnbitem">
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="">
                <span>관련기관</span>
              </a>
              <ul class="header-sublist">
                <li class="header-subitem">
                  <a class="header-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                    <span>에코마일리지</span>
                  </a>
                </li>
                <li class="header-subitem">
                  <a class="header-sublink" href="https://seouledc.or.kr" target="_blank">
                    <span>서울에너지드림센터</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <a href="{% url 'mypage' %}" class="btn-profile header-utils-btn">
              <img src="{% static 'icons/ico_profile_black.svg' %}" alt="검색">
            </a>
            <button class="btn-search header-utils-btn">
              <img src="{% static 'icons/ico_search_black.svg' %}" alt="검색">
            </button>
            <button class="btn-allmenu header-utils-btn">
              <img src="{% static 'icons/ico_menu_black.svg' %}" alt="PC메뉴">
            </button>
            <button class="btn-momenu header-utils-btn">
              <img src="{% static 'icons/ico_menu_black.svg' %}" alt="모바일메뉴">
            </button>
            <button class="btn-moclose header-utils-btn">
              <img src="{% static 'icons/ico_close_m_black.svg' %}" alt="닫기">
            </button>
          </div>
        </div>
      </div>
      <div class="header-fullmenu fullmenu-top">
        <div class="fullmenu-wrapper">
          <div class="fullmenu-head">
            <h4 class="fullmenu-title">
              <a href="{% url 'index' %}">
                <img src="{% static 'images/eco-name.png' %}" alt="">
              </a>
            </h4>
            <ul class="fullmenu-member">
              <li>
                <a href="{% url 'login' %}">로그인</a>
              </li>
              <li>
                <a href="{% url 'signup' %}">회원가입</a>
              </li>
            </ul>
          </div>
          <ul class="fullmenu-gnblist">
            <li class="fullmenu-gnbitem">
              <a class="fullmenu-gnblink" href="{% url 'index' %}">
                <span>에코-포어캐스트</span>
              </a>
            </li>
            <li class="fullmenu-gnbitem">
              <a class="fullmenu-gnblink" href="{% url 'about' %}">
                <span>사이트 소개</span>
              </a>
            </li>
            <li class="fullmenu-gnbitem">
              <a class="fullmenu-gnblink" href="">
                <span>정보광장</span>
              </a>
              <ul class="fullmenu-sublist">
                <li class="fullmenu-subitem">
                  <a class="fullmenu-sublink" href="{% url 'notice' %}">
                    <span>공지사항</span>
                  </a>
                </li>
                <li class="fullmenu-subitem">
                  <a class="fullmenu-sublink" href="{% url 'qna' %}">
                    <span>자주묻는질문</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="fullmenu-gnbitem">
              <a class="fullmenu-gnblink" href="">
                <span>관련기관</span>
              </a>
              <ul class="fullmenu-sublist">
                <li class="fullmenu-subitem">
                  <a class="fullmenu-sublink" href="http://ecomileage.seoul.go.kr" target="_blank">
                    <span>서울시-에코마일리지</span>
                  </a>
                </li>
                <li class="fullmenu-subitem">
                  <a class="fullmenu-sublink" href="https://seouledc.or.kr" target="_blank">
                    <span>서울에너지드림센터</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="fullmenu-close">
          <img src="{% static 'icons/ico_close_m_white.svg' %}" alt="닫기">
        </button>
      </div>
    </header>
    <!-- [E]eco_forecast-N1 -->
    <main class="th-layout-main ">
      {% block content %}
      {% endblock %}
    </main>
    <!-- [S]eco_forecast-N2 -->
    <footer class="eco_forecast-N2" data-bid="giltA4Bfyy">
      <div class="footer-container container-lg">
        <div class="footer-top">
          <h1 class="footer-logo">
            <a href="javascript:void(0)">
              <img src="{% static 'images/eco-name.png' %}" alt="로고">
            </a>
          </h1>
          <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>ⓒEco-Forecast Corp.</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_instagram_lightgrey.svg' %}" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_youtube_lightgrey.svg' %}" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_facebook_lightgrey.svg' %}" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_kakao_lightgrey.svg' %}" alt="카카오톡">
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <h2 class="footer-logo">
            <a href="javascript:void(0)">
              <img src="{% static 'images/img_logo_white.png' %}" alt="로고">
            </a>
          </h2>
          <div class="footer-txt">
            <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
            <p>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
            </p>
          </div>
          <div class="footer-txt">
            <p>2024 BY Eco-Forecast. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- [E]eco_forecast-N2 -->
    <script src="{% static 'js/setting.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>