{% extends 'common/base.html' %}
{% load static %}
{% block title %}마이페이지 | 에코포어캐스트{% endblock %}
{% block content %}


<!-- [E]eco_forecast-N1 -->

  <!-- [S]eco_forecast-N23 -->
  <div class="eco_forecast-N23" data-bid="kaltA4yc3z" id="">
    <div class="contents-inner">
      <div class="contents-container">
        <div class="textset textset-sub textset-center">
          <h2 class="textset-tit">My Page</h2>
        </div>
        <ul class="contents-group contents-profile">
          <li class="contents-profile-item">
            <div class="imageset">
              <img class="imageset-img" src="{% static 'images/img_profile.png' %}" alt="프로필 이미지">
            </div>
            <p class="contents-name">-</p>  <!-- 로그인 한 사용자 이름 --> 
          </li>
          <li class="contents-profile-item">
            <a href="javascript:void(0);" class="btnset btnset-round">내 정보 관리</a>
          </li>
        </ul>
        <div class="contents-group contents-reservation">
          <h2 class="contents-tit"> 최근 이용내역 <a href="javascipt:void(0);" class="contents-more">더보기</a>
          </h2>

          <!-- 임시로 띄어쓰기 한 부분. 나중에 삭제 예정 -->
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
          <!--

          <div class="cardset cardset-hor cardset-sm">
            <figure class="cardset-figure">
              <img class="cardset-img" src="{% static 'images/img_campland_N19_1.png' %}" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <div class="badgeset-wrap">
                <div class="badgeset-group">
                  <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">이용완료</div>
                </div>
                <p class="cardset-txt">예약번호 2023010120230101</p>
              </div>
              <h2 class="cardset-tit">캠핑장 A구역</h2>
              <p class="cardset-desc"> 2023.01.09(월) ~ 2023.01.12(목) ㅣ <br class="br-mo"> 3박 4일 ㅣ 성인 2명, 어린이 1명 </p>
            </div>
          </div>
          <div class="cardset cardset-hor cardset-sm">
            <figure class="cardset-figure">
              <img class="cardset-img" src="{% static 'images/img_campland_N19_2.png' %}" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <div class="badgeset-wrap">
                <div class="badgeset-group">
                  <div class="badgeset badgeset-fill badgeset-border badgeset-round">취소완료</div>
                </div>
                <p class="cardset-txt">예약번호 2023010120230101</p>
              </div>
              <h2 class="cardset-tit">캠핑장 B구역</h2>
              <p class="cardset-desc"> 2023.01.09(월) ~ 2023.01.12(목) ㅣ <br class="br-mo"> 3박 4일 ㅣ 성인 2명, 어린이 1명 </p>
            </div>
          </div>
          <div class="cardset cardset-hor cardset-sm">
            <figure class="cardset-figure">
              <img class="cardset-img" src="{% static 'images/img_campland_N19_3.png' %}" alt="카드 이미지">
            </figure>
            <div class="cardset-body">
              <div class="badgeset-wrap">
                <div class="badgeset-group">
                  <div class="badgeset badgeset-fill badgeset-border badgeset-round badgeset-primary">이용완료</div>
                </div>
                <p class="cardset-txt">예약번호 2023010120230101</p>
              </div>
              <h2 class="cardset-tit">캠핑장 C구역</h2>
              <p class="cardset-desc"> 2023.01.09(월) ~ 2023.01.12(목) ㅣ <br class="br-mo"> 3박 4일 ㅣ 성인 2명, 어린이 1명 </p>
            </div>
          </div>
        </div>

        -->

        <div class="contents-group contents-notice">
          <a href="{% url 'notice' %}" class="contents-notice-link">공지사항</a>
          <a href="{% url 'qna' %}" class="contents-notice-link">자주묻는질문</a>
          <a href="javascipt:void(0)" class="contents-notice-link"> 상담원 연결 <span>
              <em>상담시간</em> : 평일 09:00 ~ 18:00 (점심시간 12:00 ~ 13:00) </span>
          </a>
        </div>
        <div class="contents-button">
          <button class="btnset btnset-round" type="button">로그아웃</button>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]eco_forecast-N23 -->
  {% endblock %}
