{% extends 'common/base.html' %}
{% load static %}
{% block title %}회원가입 완료 | 에코포어캐스트{% endblock %}
{% block content %}
    <!-- [S]eco_forecast-N26 -->
    <div class="eco_forecast-N26" data-bid="RylTA4T36q" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="iconset">
            <img class="iconset-icon" src="{% static 'icons/ico_check_illust.svg' %}" alt="가입완료 아이콘">
          </div>
          <div class="textset textset-center">
            <h2 class="textset-tit">
              <span>Eco-Forecast 회원</span>이 되신 것을 환영합니다!
            </h2>
            <p class="textset-desc"> 가입이 완료되었습니다. <br> 뒤로 돌아가서 다시 로그인해주세요. </p>
            <a href="{% url 'login' %}" class="btnset btnset-round">로그인하러 가기</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}